git+https://github.com/ansible/ansible-builder.git@devel#egg=ansible-builder
urllib3
pywinrm[kerberos]
wheel
requests>=2.3
pypsrp>=0.4
pyVmomi>=6.7
git+https://github.com/vmware/vsphere-automation-sdk-python.git
